[submodule "rbenv"]
	path = rbenv
	url = https://github.com/fnichol/chef-rbenv
[submodule "ruby_build"]
	path = ruby_build
	url = https://github.com/fnichol/chef-ruby_build
[submodule "imagemagick"]
	path = imagemagick
	url = https://github.com/opscode-cookbooks/imagemagick.git
